@font-face {
    font-family : Forum;
    src : url(../font/Forum/Forum-Regular.ttf);
}

@font-face {
    font-family : Gabriela;
    src : url(../font/Gabriela/Gabriela-Regular.ttf);
}

@font-face {
    font-family : IMF;
    src : url(../font/IMF/IMFellEnglish-Regular.ttf);
}

@font-face {
    font-family : Inter;
    src : url(../font/Inter/Inter-Regular.ttf);
}

@font-face {
    font-family : Fredericka;
    src : url(../font/Fredericka/Fredericka-Regular.ttf);
}

@font-face{
    font-family: Gaegu;
    src: url(../font/Gaegu/Gaegu-Regular.ttf);
}

h1{
    font-size: 30px;
    font-family: IMF;
    display: flex;
    justify-content: center;
}

h2{
    font-size: 22px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 18px;
}

#sleeve{
    display: none;
    width: 60px;
    height: 180px;
    background: white;

    position: fixed;
    top: 40%;
    right: 0px;
    z-index: 5;
}

#sleeve img{
    width: 60px;
    height: 60px;
}

header{
    height: 192px;
    background-color: #2E5A86;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    position: relative;
}

#search input{
    width: 100%;
    height: 50px;
    
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#snButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

#search{
    display: flex;
    align-items: center;
}

#search input{
    width: 128px;
    height: 30px;
    margin-left: 20px;
    padding-right: 20px;
    /*margin-right: 20px;*/
}

nav img{
    width: 25px;
    height: 25px;
}

#signup{
    border: solid 0px black;
    background-color: #2E5A86;
    color: white;
    font-size: 15px;
    font-style: bold;
    
    width: 128px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-left: 50px;*/
}

#notebook{
    border: solid 0px black;
    background-color: white;
    color: #2E5A86;
    font-size: 15px;
    font-style: bold;

    width: 128px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h6{
    font-size: 20px;
}

nav ul{
    list-style: none;
    padding: 0px;
    margin: 0px;

    display: none;
}

nav ul li{
    border: solid 0px black;

    height: 64px;
    background-color: #86ABD6;
    color: #EDEEF7;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    font-family: Inter;
    font-size: 24px;
}

#wrap{
    margin: 0 auto;
    padding: 20px;
    border: solid 1px white;
}

body{
    background-color: #86ABD6;
}

#hero{
    /*display: flex;*/
    position: relative;
}

#hero img{
    width: 100%;
    height: 448px;
}

#heroRead{
    width: 256px;
    height: 448px;
    background : rgba(255,255,255,.3);

    position: absolute;

    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    align-items: center;

    color: white;

    border: solid 0px yellow;
}

#readButton{
    width: 128px;
    height: 64px;
    background-color: #2E5A86;
    border: solid 0px red;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#readButton a:link{
    text-decoration : none;
    color: white;
}

#readButton a:visited{
    color: white;
}

#call{
    border: solid 0px green;

    height: 70%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#call h2{
    font-family: Fredericka;
    width: 70%;
}

#leading{
    background-color: white;
}

.heading{
    border: solid 0px black;
    height: 128px;

    text-align: center;   
}

.heading h1{
    font-style: italic;
    color: #2E5A86;
}

.desc{
    border: solid 0px green;
    /*padding-left: 64px;
    /*padding-right: 64px;*/
    height: 64px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}


.desc h4{
    font-size: 19px;
    margin: 0px;
    paddling: 0px;
}

.descBoxReverse{
    padding-right: 0px;

    /*flex-direction: row-reverse;*/
    justify-content: center;
}


.descBox, .descBoxReverse{
    border: solid 0px green;
    padding-left: 0px;
    /*padding-right: 64px;*/
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.blueBox{
    background-color: #ABC5E3;
    border: solid 0px red;

    width: 256px;
    height: 64px;

    /*text-align: center;*/
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.vector{
    border: solid 0px blue;
    margin-left: 0px;
    width: 0%;
    
    display: none;
    /*justify-content: center;*/
    /*padding-left: 320px;*/
}


.vectorReverse{
    border: solid 0px blue;
    margin-left: 0px;
    /*width: 50%;*/

    display: none;
}

#tripPage{
    background-color: white;
}


#tripPage .heading{
    border: solid 0px red;
    color: #2E5A86;
    font-size: 32px;
    font-family: IMF;

    display: flex;
    align-items: center;
}

#tripPage img{
    border: solid 0px green;
    width: 256px;
    height: 360px;
}

#tripOne, #tripTwo, #tripThree{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#tripTwo{
    justify-content: flex-end;
}


#tripThree{
    margin-bottom: 0px;
}
.tripDesc{
    border: solid 0px green;
    margin-left: 0px;
    width: 100%;
    background-color: #EDEEF7;

    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

#tripTwo .tripDesc{
    margin-left: 0px;
    margin-right: 0px;
}

.tripDesc ul li{
    font-size: 20px;
    margin-left: 20px;
}


#tripOne .tripDesc ul li{
    font-size: 20px;
    margin-left: 0px;
}

.tripDesc h2{
    display: flex;
    justify-content: center;
    text-align: center;
}

.tripDesc h4{
    margin-left: 40px;
    text-decoration: underline;
}

#tripOne .tripDesc h4{
    margin-left: 60px;
}
/*
#tripThree .tripDesc h4{
    margin-left: 40px;
}

#tripTwo .tripDesc h4{
    margin-left: 40px;
}
*/
#fullList{
    font-size: 32px;
    font-family: IMF;
    text-decoration: underline;
    text-align: center;
    color: #2E5A86;

    height: 192px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#contact h1{
    -webkit-text-stroke: 0.001px white;
    color: #2E5A86;
}

.contactInfo{
    border: solid 0px red;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactInfo h3{
    margin-left: 15px;
    color: white;
    height: 48px;
    text-align: center;
}

.contactInfo img{
    /*display: none;*/
    background-color: white;
    width: 40px;
    height: 40px;
    /*display: flex;*/
    margin-top: 0px;
}

#contact h2{
    font-family: IMF;
    -webkit-text-stroke: 0.001px white;
    color: #2E5A86;
    margin-left: 20px;
}

#subsBox{
    border: solid 0px red;
    margin: 0px;
    width: 256px;
    height: 64px;
}

form{
    display: flex;
}

input[type=text]{
    border: solid 0px green;
    width: 64%;
    height: 64px;
}

input[type=submit]{
    margin-left: 10px;
    width: 192px;
    font-family: IMF;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}



/*The following are the css for about page*/
blockquote{
                height: 128px;
                display: flex;
                justify-content: center;
                align-items: center;

                color: black;
                background-color: white;
                font-family: Gabriela;
                font-size: 36px;
            }

#bg{
    width: 100%;
}

#mission{
    font-family: Gaegu;
}

#mission p{
    font-size: 32px;
}

.socialM{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socialM img{
    background-color: white;
    width: 64px;
    height: 64px;
}